<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653683245037-1ljo4841h56349r2vqhobo9ksitdlj8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653683245037-1ljo4841h56349r2vqhobo9ksitdlj8f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>653683245037-2c6s11mk768b76o94lind0cjvro5iccr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Hxz-6gDoMM0MsOh4gAFh17b6elcd_dM</string>
	<key>GCM_SENDER_ID</key>
	<string>653683245037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.itscholarbdfooddelivery</string>
	<key>PROJECT_ID</key>
	<string>enruta-10c43</string>
	<key>STORAGE_BUCKET</key>
	<string>enruta-10c43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653683245037:ios:8e10032c6617bb8a9131e4</string>
</dict>
</plist>